@model IEnumerable<ASPNETProject.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Create New Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                @Html.DisplayFor(modelItem => item.Teacher.LastName)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> 
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.CourseId">Details</a> 
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
